
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body { 
    width: 100%; 
    height: 100%; 
}

body {
    background-color: '#fff5be';
}

canvas { 
    background-color: '#fff5be';

    /* so that we can see the canvas's boundaries */
    border: 1px solid black; 

    display: block;

    /* horizontal, vertical centering */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}
